@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grupo_A ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

h1{
    text-align: center;
}